TELEGRAM_BOT_TOKEN="bot-token"
GITLAB_URL=https://gitlab.spesolution.net
GITLAB_TOKEN="gitlab-token"
GITLAB_DEFAULT_PROJECT=
GITLAB_USERNAME=kharisma
OPENAI_API_KEY="openai-api-key"
OPENAI_MODEL=gpt-4o-mini
OUTPUT_DIR=./output
